---
layout: page
title: Kandidáti Pirátů pro volby do zastupitelstva města Rožnov
rbar: ""
---
<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <div class="jmk-candidates">
               <div class="row">
                  {% assign team = site.people | where_exp:"item","item.categories contains 'kandidat'" | sort:"ordkandidat"  %}
                  {% for item in team limit:7 %}
                    {% include people/kandidat.html param=item order='ordkandidat' %}
                  {% endfor %}

                  {% for item in team offset:8 limit:8 %}
                    {% include people/kandidat-small.html param=item order='ordkandidat' %}
                  {% endfor %}

                  {% include people/kandidat-mini.html order='8' name='Ivo Jurásek' job='překladatel' %}
                  {% include people/kandidat-mini.html order='9' name='Přemysl Halamíček' job='plánovač výroby' %}
                  {% include people/kandidat-mini.html order='10' name='Pavla Hejná' job='mateřská dovolená' %}
                  {% include people/kandidat-mini.html order='11' name='Michal Tonhauser' job='obchodní zástupce' %}
                  {% include people/kandidat-mini.html order='12' name='Ondřej Pohořelský' job='student' %}
                  {% include people/kandidat-mini.html order='13' name='Daniel Halamíček' job='OSVČ' %}
                  {% include people/kandidat-mini.html order='14' name='Livia Navrátilová' job='operátor ve výrobě' %}
                 {% include people/kandidat-mini.html order='15' name='Lenka Balusková' job='operátor ve výrobě' %}
                 {% include people/kandidat-mini.html order='16' name='Pavel Lušovský' job='OSVČ' %}
                 {% include people/kandidat-mini.html order='17' name='Martin Vlček' job='OSVČ' %}
                 {% include people/kandidat-mini.html order='18' name='Pavel Ryboň' job='OSVČ' %}
                 {% include people/kandidat-mini.html order='19' name='Jakub Vlček' job='OSVČ' %}
                 {% include people/kandidat-mini.html order='20' name='Hana Třosová' job='OSVČ' %}
                  {% include people/kandidat-mini.html order='21' name='David Křenek' job='OSVČ' %}
                 



                </div>

              </div>
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
